* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.netflix{
    width: 150px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.netflix span{
    width: 50px;
    height: 0;
    background-color: #db0001;
    position: absolute;
    cursor: pointer;
}

/* box-shadow: x-offset y-offset blur-radius color; */

.left{
    left: 0;
    bottom: 0;
}

.center{
    top:0;
    left:0;
    transform: skewx(22deg);
    transform-origin: top right;
    box-shadow:0 0 50px #000;
    z-index: 2;
}

.right{
    right: 0;
    bottom: 0;
}

.netflix::after{
    content: '';
    width: 120%;
    height: 20px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: -10%;
    bottom: -10px;
    z-index: 5;
}

/* Hover Pe Animation */

.head{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-top: 20px;
}

.netflix:hover .left{
    animation: anim 1s linear forwards;
    animation-delay: 0.2s;
}

.netflix:hover .center{
    animation: anim 1s linear forwards;
    animation-delay: 0.6s;
}

.netflix:hover .right{
    animation: anim 1s linear forwards;
    animation-delay: 0.9s;
}


/* Animation Starts From Below */

@keyframes anim {
    100%{
        height: 100%;
    }
}